In [1]:
from pprint import pprint

In [2]:
a = []
for i in range(10):
    a.append(i)
    
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
a = [i for i in range(10)]
a = [0 for i in range(10)]
a = [i % 3 for i in range(10)]
a

[0, 1, 2, 0, 1, 2, 0, 1, 2, 0]

In [11]:
a = []
for i in range(50):
    if i % 3 == 0:
        a.append(i)
    else:
        a.append(0)

a = [i if i % 3 == 0 else 0 for i in range(10)]
a

[0, 0, 0, 3, 0, 0, 6, 0, 0, 9]

In [12]:
a = [i if i % 3 == 0 else (-i if i % 2 == 0 else 0) for i in range(10)]
a

[0, 0, -2, 3, -4, 0, 6, 0, -8, 9]

In [13]:
a = []
for i in range(50):
    if i % 3 == 0:
        a.append(i)
    
a = [i for i in range(10) if i % 3 == 0]
a

[0, 3, 6, 9]

In [14]:
[[i + j for j in range(10)] for i in range(10)]

a = []
for i in range(10):
    a.append([i + j for j in range(10)])
    
a = []
for i in range(10):
    b = []
    for j in range(10):
        b.append(i + j)
    a.append(b)
    
pprint(a)

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
 [4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
 [5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
 [6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [7, 8, 9, 10, 11, 12, 13, 14, 15, 16],
 [8, 9, 10, 11, 12, 13, 14, 15, 16, 17],
 [9, 10, 11, 12, 13, 14, 15, 16, 17, 18]]

In [17]:
[[i * j for j in range(1, 11)] for i in range(1, 11)]

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [20]:
[[(i + j) % 2 for j in range(8)] for i in range(8)]

[[0, 1, 0, 1, 0, 1, 0, 1],
 [1, 0, 1, 0, 1, 0, 1, 0],
 [0, 1, 0, 1, 0, 1, 0, 1],
 [1, 0, 1, 0, 1, 0, 1, 0],
 [0, 1, 0, 1, 0, 1, 0, 1],
 [1, 0, 1, 0, 1, 0, 1, 0],
 [0, 1, 0, 1, 0, 1, 0, 1],
 [1, 0, 1, 0, 1, 0, 1, 0]]

In [17]:
[[i * j for j in range(i)] for i in range(1, 11)]

[[0],
 [0, 2],
 [0, 3, 6],
 [0, 4, 8, 12],
 [0, 5, 10, 15, 20],
 [0, 6, 12, 18, 24, 30],
 [0, 7, 14, 21, 28, 35, 42],
 [0, 8, 16, 24, 32, 40, 48, 56],
 [0, 9, 18, 27, 36, 45, 54, 63, 72],
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]]

# Problems
1. Take a string input with a few numbers separated by a comma, then convert this input to a list of numbers
2. Remove every negative number from the list above.

In [42]:
# 1
input_string = '1, 2, 3, 4, 5, 6'
input_numbers = [int(number_string) for number_string in input_string.split(', ')]
# list(map(to_int, input_string.split(', ')))

[1, 2, 3, 4, 5, 6]

In [65]:
# 2

def is_positive(number):
    # if number > 0:
    #     return True
    # else:
    #     return False
    return number > 0

input_string = '1, 2, 3, 4, 5, 6, -1, 5, -5'
input_numbers = [int(number_string) for number_string in input_string.split(', ')] # map
positive_numbers = [i for i in input_numbers if i > 0] # filter
# positive_numbers = list(filter(is_positive, input_numbers))
positive_numbers = list(filter(lambda x: x > 0, input_numbers))
print(positive_numbers)

[1, 2, 3, 4, 5, 6, 5]

In [49]:
my_list = [1, 2, 3, 4, 5, 6]

for value in my_list:
    print(value)

1
2
3
4
5
6

In [51]:
my_list = ['Danial', 'Ramin', 'Nazanin', 'Mahdis']

# for i in range(len(my_list)):
#     print(i, my_list[i])
    
for i, value in enumerate(my_list):
    print(i, value)

0 Danial
1 Ramin
2 Nazanin
3 Mahdis

In [54]:
scores = [100, 80, 25, 79, 91, 60]
names = ["a", "b", "c", "d", "e", "f"]

# for i in range(len(names)):
#     print(names[i], scores[i])

for score, name in zip(scores, names):
    print(name, score)

a 100
b 80
c 25
d 79
e 91
f 60

In [64]:
my_list = ['Danial', 'Ramin', 'Nazanin', 'Mahdis', 'Taha', 'Sana', 'Yeganeh']

# for i in range(1, len(my_list) - 1):
#     print(my_list[i - 1], my_list[i], my_list[i + 1])

for name1, name2, name3 in zip(my_list, my_list[1:], my_list[2:]):
    print(name1, name2, name3)

Danial Ramin Nazanin
Ramin Nazanin Mahdis
Nazanin Mahdis Taha
Mahdis Taha Sana
Taha Sana Yeganeh

In [40]:
# filter, map

numbers = input()

numbers = numbers.split(" ")

# for i, str_value in enumerate(numbers):
#     numbers[i] = int(str_value)

# numbers = [int(value) for value in numbers]

numbers = map(int, numbers)

sum(numbers)

1 2 3 4 5

15

In [51]:
# filter, map

numbers = input()

numbers = numbers.split(" ")

# for i, str_value in enumerate(numbers):
#     numbers[i] = int(str_value) ** 2

# numbers = [int(value) ** 2 for value in numbers]

# def pow2(x):
#     return int(x) ** 2

# numbers = list(map(pow2, numbers))

numbers = list(map(lambda x: int(x) ** 2, numbers))

sum(numbers)

1 4 6

53

In [54]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers = filter(lambda x: x % 3 == 0, numbers)

In [56]:
numbers

In [57]:
for value in numbers:
    print(value)

3
6
9